/* SideBar */ 
.sidebar{
    width: 0%;
    height: 100vh;
    overflow-x: hidden;
}

/* WIDTH DEFAULT */ 

@keyframes openBar-0{
    from{
        width: 0%;
        
    }to{
        width: 15%;
        
    }
}
@keyframes closeBar-0{
    from{
        width: 15%;
       
    }to{
        width: 0%;
        
    }
}


.open[data-offset="default"]{
    animation: openBar-0;
    -moz-animation: openBar-0;
    -webkit-animation: openBar-0;
    -o-animation: openBar-0;
    animation-duration: 1.2s;
    -moz-animation-duration: 1.2s;
    -webkit-animation-duration: 1.2s;
    -o-animation-duration: 1.2s;
    animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
}

.close[data-offset="default"]{
    animation: closeBar-0;
    -moz-animation: closeBar-0;
    -webkit-animation: closeBar-0;
    -o-animation: closeBar-0;
    animation-duration: 1.2s;
    -moz-animation-duration: 1.2s;
    -webkit-animation-duration: 1.2s;
    -o-animation-duration: 1.2s;
    animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
}



/* WIDTH 25% */

@keyframes openBar-1{
    from{
        width: 0%;
        
    }to{
        width: 25%;
        
    }
}
@keyframes closeBar-1{
    from{
        width: 25%;
       
    }to{
        width: 0%;
        
    }
}

.open[data-offset="25"]{
    animation: openBar-1;
    -moz-animation: openBar-1;
    -webkit-animation: openBar-1;
    -o-animation: openBar-1;
    animation-duration: 1.2s;
    -moz-animation-duration: 1.2s;
    -webkit-animation-duration: 1.2s;
    -o-animation-duration: 1.2s;
    animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
}

.close[data-offset="25"]{
    animation: closeBar-1;
    -moz-animation: closeBar-1;
    -webkit-animation: closeBar-1;
    -o-animation: closeBar-1;
    animation-duration: 1.2s;
    -moz-animation-duration: 1.2s;
    -webkit-animation-duration: 1.2s;
    -o-animation-duration: 1.2s;
    animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
}


/* WIDTH 50% */

@keyframes openBar-2{
    from{
        width: 0%;
        
    }to{
        width: 50%;
        
    }
}
@keyframes closeBar-2{
    from{
        width: 50%;
       
    }to{
        width: 0%;
        
    }
}

.open[data-offset="50"]{
    animation: openBar-2;
    -moz-animation: openBar-2;
    -webkit-animation: openBar-2;
    -o-animation: openBar-2;
    animation-duration: 1.2s;
    -moz-animation-duration: 1.2s;
    -webkit-animation-duration: 1.2s;
    -o-animation-duration: 1.2s;
    animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
}

.close[data-offset="50"]{
    animation: closeBar-2;
    -moz-animation: closeBar-2;
    -webkit-animation: closeBar-2;
    -o-animation: closeBar-2;
    animation-duration: 1.2s;
    -moz-animation-duration: 1.2s;
    -webkit-animation-duration: 1.2s;
    -o-animation-duration: 1.2s;
    animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
}



/* WIDTH 75% */

@keyframes openBar-3{
    from{
        width: 0%;
        
    }to{
        width: 75%;
        
    }
}
@keyframes closeBar-3{
    from{
        width: 75%;
       
    }to{
        width: 0%;
        
    }
}

.open[data-offset="75"]{
    animation: openBar-3;
    -moz-animation: openBar-3;
    -webkit-animation: openBar-3;
    -o-animation: openBar-3;
    animation-duration: 1.2s;
    -moz-animation-duration: 1.2s;
    -webkit-animation-duration: 1.2s;
    -o-animation-duration: 1.2s;
    animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
}

.close[data-offset="75"]{
    animation: closeBar-3;
    -moz-animation: closeBar-3;
    -webkit-animation: closeBar-3;
    -o-animation: closeBar-3;
    animation-duration: 1.2s;
    -moz-animation-duration: 1.2s;
    -webkit-animation-duration: 1.2s;
    -o-animation-duration: 1.2s;
    animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
}



/* WIDTH 90% */

@keyframes openBar-4{
    from{
        width: 0%;
        
    }to{
        width: 90%;
        
    }
}
@keyframes closeBar-4{
    from{
        width: 90%;
       
    }to{
        width: 0%;
        
    }
}

.open[data-offset="90"]{
    animation: openBar-4;
    -moz-animation: openBar-4;
    -webkit-animation: openBar-4;
    -o-animation: openBar-4;
    animation-duration: 1.2s;
    -moz-animation-duration: 1.2s;
    -webkit-animation-duration: 1.2s;
    -o-animation-duration: 1.2s;
    animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
}

.close[data-offset="90"]{
    animation: closeBar-4;
    -moz-animation: closeBar-4;
    -webkit-animation: closeBar-4;
    -o-animation: closeBar-4;
    animation-duration: 1.2s;
    -moz-animation-duration: 1.2s;
    -webkit-animation-duration: 1.2s;
    -o-animation-duration: 1.2s;
    animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
}


/* WIDTH 100% */

@keyframes openBar-5{
    from{
        width: 0%;
        
    }to{
        width: 100%;
        
    }
}
@keyframes closeBar-5{
    from{
        width: 100%;
       
    }to{
        width: 0%;
        
    }
}

.open[data-offset="100"]{
    animation: openBar-5;
    -moz-animation: openBar-5;
    -webkit-animation: openBar-5;
    -o-animation: openBar-5;
    animation-duration: 1.2s;
    -moz-animation-duration: 1.2s;
    -webkit-animation-duration: 1.2s;
    -o-animation-duration: 1.2s;
    animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
}

.close[data-offset="100"]{
    animation: closeBar-5;
    -moz-animation: closeBar-5;
    -webkit-animation: closeBar-5;
    -o-animation: closeBar-5;
    animation-duration: 1.2s;
    -moz-animation-duration: 1.2s;
    -webkit-animation-duration: 1.2s;
    -o-animation-duration: 1.2s;
    animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
}



/*  BUTTON ANIMATION */


/* BTN PILLARS */ 
@keyframes btn-open{
    from{
        transform: rotate(0);
        -o-transform: rotate(0);
        -moz-transform: rotate(0);
        -webkit-transform: rotate(0);
    }to{
        transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
    }
}
@keyframes btn-close{
    from{
        transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
    }to{
        transform: rotate(0);
        -o-transform: rotate(0);
        -moz-transform: rotate(0);
        -webkit-transform: rotate(0);
    }
}


.open ~ .main [data-sideBtn="pillars"]{
    animation: btn-open;
    -o-animation: btn-open;
    -moz-animation: btn-open;
    -webkit-animation: btn-open;
    animation-duration: .5s;
    -o-animation-duration: .5s;
    -moz-animation-duration: .5s;
    -webkit-animation-duration: .5s;
    animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}
.close ~ .main [data-sideBtn="pillars"]{
    animation: btn-close;
    -o-animation: btn-close;
    -moz-animation: btn-close;
    -webkit-animation: btn-close;
    animation-duration: .5s;
    -o-animation-duration: .5s;
    -moz-animation-duration: .5s;
    -webkit-animation-duration: .5s;
    animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}


[data-sideBtn="pillars"] span{
    font-size: 2rem;
}

/* BTN CRUZ */

@keyframes btn-open-c1{
    from{
        transform: rotate(0);
        -o-transform: rotate(0);
        -moz-transform: rotate(0);
        -webkit-transform: rotate(0);
    }to{
        transform: translateY(15px) rotate(45deg);
        -o-transform: translateY(15px) rotate(45deg);
        -moz-transform: translateY(15px) rotate(45deg);
        -webkit-transform: translateY(15px) rotate(45deg);
    }
}
@keyframes btn-open-c0{
    from{
        opacity: 1;
    }to{
        opacity: 0;
    }
}
@keyframes btn-open-c2{
    from{
        transform: rotate(0);
        -o-transform: rotate(0);
        -moz-transform: rotate(0);
        -webkit-transform: rotate(0);
    }to{
        transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
}

@keyframes btn-close-c1{
    from{
        transform: translateY(15px) rotate(45deg);
        -o-transform: translateY(15px) rotate(45deg);
        -moz-transform: translateY(15px) rotate(45deg);
        -webkit-transform: translateY(15px) rotate(45deg);
    }to{
        transform: rotate(0);
        -o-transform: rotate(0);
        -moz-transform: rotate(0);
        -webkit-transform: rotate(0);
    }
}
@keyframes btn-close-c0{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}
@keyframes btn-close-c2{
    from{
        transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }to{
        transform: rotate(0);
        -o-transform: rotate(0);
        -moz-transform: rotate(0);
        -webkit-transform: rotate(0);
    }
}

.open ~ .main [data-sideBtn="cross"] span:nth-of-type(1){
    animation: btn-open-c1;
    -o-animation: btn-open-c1;
    -moz-animation: btn-open-c1;
    -webkit-animation: btn-open-c1;
    animation-duration: .5s;
    -o-animation-duration: .5s;
    -moz-animation-duration: .5s;
    -webkit-animation-duration: .5s;
    animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.open ~ .main [data-sideBtn="cross"] span:nth-of-type(2){
    animation: btn-open-c0;
    -o-animation: btn-open-c0;
    -moz-animation: btn-open-c0;
    -webkit-animation: btn-open-c0;
    animation-duration: .5s;
    -o-animation-duration: .5s;
    -moz-animation-duration: .5s;
    -webkit-animation-duration: .5s;
    animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.open ~ .main [data-sideBtn="cross"] span:nth-of-type(3){
    animation: btn-open-c2;
    -o-animation: btn-open-c2;
    -moz-animation: btn-open-c2;
    -webkit-animation: btn-open-c2;
    animation-duration: .5s;
    -o-animation-duration: .5s;
    -moz-animation-duration: .5s;
    -webkit-animation-duration: .5s;
    animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}


.close ~ .main [data-sideBtn="cross"] span:nth-of-type(1){
    animation: btn-close-c1;
    -o-animation: btn-close-c1;
    -moz-animation: btn-close-c1;
    -webkit-animation: btn-close-c1;
    animation-duration: .5s;
    -o-animation-duration: .5s;
    -moz-animation-duration: .5s;
    -webkit-animation-duration: .5s;
    animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.close ~ .main [data-sideBtn="cross"] span:nth-of-type(2){
    animation: btn-close-c0;
    -o-animation: btn-close-c0;
    -moz-animation: btn-close-c0;
    -webkit-animation: btn-close-c0;
    animation-duration: .5s;
    -o-animation-duration: .5s;
    -moz-animation-duration: .5s;
    -webkit-animation-duration: .5s;
    animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.close ~ .main [data-sideBtn="cross"] span:nth-of-type(3){
    animation: btn-close-c2;
    -o-animation: btn-close-c2;
    -moz-animation: btn-close-c2;
    -webkit-animation: btn-close-c2;
    animation-duration: .5s;
    -o-animation-duration: .5s;
    -moz-animation-duration: .5s;
    -webkit-animation-duration: .5s;
    animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

[data-sideBtn="cross"] span{
    background-color: black;
    width: 4vh;
    height: .5vh;
    display: block;
    margin: 5px;
}